@font-face {
  font-family: 'komikax';
  src: url('../assets/KOMIKAX_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.head {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  width: 40%;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;
}

.head img {
  width: 100px;
  margin: 0 auto;
}

.nav h1 {
  color: #173947;
  font-family: komikax;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}

.head h1 {
  display: grid;
  align-content: center;
}

.content-center {
  width: 70%;
  margin: 0 auto;
}

.start {
  margin-top: 50px;
}

.button-start {
  width: 40%;
  margin: 15px auto;
  text-align: center;
  padding: 10px;
  color: white;
  background: #2c67ee;
  font-weight: 100;
  cursor: pointer;
}

.exercise h2 {
  text-align: center;
  font-weight: 100;
}

.exercise img {
  max-height: 300px;
  margin: 0 auto;
}

.exercise {
  display: grid;
}

audio {
  display: none;
}

.logo img {
  width: 350px;
}
.success img {
  width: 250px;
}
.logo,
.action,
.success {
  margin: 0 auto;
  justify-content: center;
  display: grid;
}

.custom,
.create,
.start-exercise,
.success-button {
  text-align: center;
  border: 2px solid #173947;
  margin-left: 10px;
  padding: 20px;
  font-family: komikax;
  font-weight: lighter;
  color: #173947;
  cursor: pointer;
}

.create,
.custom-session {
  background: #e56166;
  border-color: #e56166;
  color: white;
}

.custom a {
  color: inherit;
  text-decoration: none;
}

.create a {
  color: inherit;
  text-decoration: none;
}

.start-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon {
  width: 80px;
}

.navbar h1 {
  margin: 10px;
  font-family: komikax;
  align-self: center;
  color: #173947;
  text-align: center;
}

.f-audio {
  width: 30px;
  align-self: center;
  justify-self: end;
  margin: 0 20px;
  cursor: pointer;
}

.search-image {
  display: grid;
  justify-content: center;
}

.search-image img {
  width: 350px;
}

.search-area {
  margin-top: 100px;
}

.search-message,
.timer,
.exercise-message,
.success-message {
  margin-top: 30px;
  text-align: center;
  color: #173947;
  font-family: komikax;
  font-weight: 100;
}
.exercise-gif {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}
.exercise-gif img {
  width: 480px;
  height: 250px;
}

.exercise-message,
.success-message {
  color: #e56166;
}

.exercise-info {
  display: grid;
  width: 40%;
  margin: 20px auto;
  text-align: center;
  font-family: komikax;
}

.exercise-info h3 {
  margin: 0;
  color: #f0bc08;
  letter-spacing: 1px;
  font-weight: 100;
}

.exercise-info span {
  color: #389cae;
}
.exercise-name {
  font-size: 1.4em;
  text-align: center;
  color: #173947;
  font-weight: 400;
  font-family: komikax;
}
.big-form {
  display: grid;
  margin: 10px auto;
  width: 80%;
}

.f-section {
  display: grid;
  margin: 5px 0;
}

.f-section label {
  font-size: 22px;
  margin: 20px 0;
  font-family: komikax;
  font-weight: lighter;
  color: #173947;
}

.choices {
  margin: 10px 0px;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.choices::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.level {
  color: #389cae;
  font-size: 18px;
  display: flex;
}

.choice {
  border: 2px solid #389cae;
  margin: 10px 10px 10px 0px;
  padding: 15px;
  color: #389cae;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  transition: 1s background, 1s color;
}

.choice:hover {
  background: #389cae;
  color: white;
}

@keyframes floating {
  from {
    transform: translate(0, -0px);
  }
  65% {
    transform: translate(0, -25px);
  }
  to {
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.icon:hover {
  animation-name: tada;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.save-custom {
  justify-content: left;
  display: grid;
}

.custom-session {
  padding: 15px;
  margin-top: 30px;
  margin-left: 0;
}
.input-range__track {
  height: 0.7rem;
}

.input-range__track--active {
  background: #389cae;
}
.input-range__slider {
  background: #389cae;
  border-color: #389cae;
  margin-top: -0.97rem;
  height: 1.1rem;
  width:1.1rem;
}
.input-range__label {
  color: #173947;
}

.checkbox {
  width: 100%;
  margin: 0px auto;
  position: relative;
  display: block;
}

.checkbox input[type='checkbox'] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox label {
  position: relative;
}

.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #389cae;
}

.checkbox label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #389cae;
  border-left: 2px solid #389cae;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 12px;
  left: 10px;
}

.checkbox input[type='checkbox']:checked ~ label::before {
  color: #389cae;
}

.checkbox input[type='checkbox']:checked~label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
}

.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkbox input[type='checkbox']:focus+label::before {
  outline: 0;
}

.checkbox-2{
  display: flex;
  justify-content: center;
}
.hard-label{
  float: right;
}
.producthunt {
  position: fixed;
  width: 250px;
  height: 180px;
  background: white;
  bottom: 10px;
  right: 10px;
  z-index: 9000;
  border: 1px solid #e3e3e3;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  animation: linear finite alternate;
  animation-name: run;
  animation-duration: 2s;
  -webkit-animation: linear finite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
}

.producthunt img {
  width: 90px;
  margin: 0px auto;
  display: block;
}

.close-it {
  font-size: 10px;
  font-family: 'komikax';
  color: #173947;
  text-align: right;
  cursor: pointer;
}

.product-link {
  color: #e56166;
  font-family: 'komikax';
  font-size: 10px;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #e56166;
  cursor: pointer;
  width: 40%;
  padding: 4px 0px;
}

.button-pro p {
  font-size: 10px;
  color: #173947;
  text-align: center;
  font-family: 'komikax';
}

.copyright-link {
  font-size: 17px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.copyright-link p {
  margin: 0;
  text-align: center;
  color: #173947;
}

@keyframes run {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes run {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}

.copyright-link span {
  color: red;
}

.copyright-link a {
  text-decoration: none;
}

.copyright-link .team-xenox-link {
  color: #173947;
}

.copyright-link img {
  width: 20px;
  height: 20px;
}

.copyright-link .join-us {
  margin-left: 10px;
  color: #e56166;
  font-size: 20px;
  display: grid;
  align-content: center;
}
.success-button {
  padding: 20px 100px;
  background: #ffffff;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media(max-width:1237px) {
  .start-button{
    width:55%;
  }
}
@media(max-width:970px) {
  .start-button{
    width:70%;
  }
}
@media(max-width:888px) {
  .start-button{
    width:80%;
  }
}
@media(max-width:779px) {
  .start-button{
    width:90%;
  }
}
@media(max-width:694px) {
  .start-button{
    grid-template-columns:1fr;
  }
  .custom{
    margin-bottom:40px;
  }
}
@media(max-width:600px) {
  .level{
    display:block;
  }
  .checkbox-2{
    display: block;
  }
  .hard-label{
    float: none;
  }
}
@media(max-width:597px) {
  .exercise-info{
    width:100%;
  }
  .exercise-gif img{
    width:100%;
    height:auto;
  }
}
@media(max-width:400px) {
  .logo img{
    width:300px;
  }
  .navbar h1{
    font-size: 1.5em;
    text-align: center;
  }
}
@media(max-width:355px) {
  .start-button{
    width:100%;
  }
  .icon{
    width:60px;
  }
}
@media(max-width:330px) {
  .logo img{
    width:260px;
  }
  .copyright-link{
    display:block;
  }
  .copyright-link .join-us{
    text-align: center;
    margin-top:10px;
  }
  .navbar h1{
    font-size:1.2em;
  }
}
